<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>login</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/normalize.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/demo.css}" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/component.css}" />
<!--[if IE]>
<script th:src="@{/static/js/html5.js}"></script>
<![endif]-->
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>欢迎登录</h3>
						<form action="#" name="loginForm" method="post">
							<div class="input_outer">
								<span class="u_user"></span>
								<input name="Name" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input  name="Password"  class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
							</div>
							<div class="mb2"><a class="act-but submit" onclick="validateForm()" style="color: #FFFFFF">登录</a></div>
                            <div>
                                <a href="" style="margin-right: 180px;color: white;">注册账户</a>
                                <a href="" style="color: white;">忘记密码</a>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script th:src="@{/static/js/TweenLite.min.js}"></script>
		<script th:src="@{/static/js/EasePack.min.js}"></script>
		<script th:src="@{/static/js/rAF.js}"></script>
		<script th:src="@{/static/js/demo-1.js}"></script>
        <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/static/js/crypto-js.js}"></script>
        <script th:src="@{/static/js/api/common-api.js}"></script>
		<div style="text-align:center;">

</div>
        

<script>
	
	function validateForm() {
	    event.preventDefault();//阻止页面在提交后刷新
	    
        var name = document.forms["loginForm"]["Name"].value;
        if (name == null || name == "") {
            alert("请输入登录名");
            return false;
        }

        var pwd = document.forms["loginForm"]["Password"].value;
        if (pwd == null || pwd == "") {
            alert("请输入密码");
            return false;
        }
        
        var params = new Map();
        // params.set('loginName', 'admin');
        // params.set('password', '123456');
        params.set('loginName', name);
        params.set('password', pwd);
        var sign = getBackendSignature(params);
        
        params.set('sign',sign);
        var jsonObj = {};
        params.forEach(function(value, key) {
          jsonObj[key] = value;
        });
        
        $.ajax({
            url: "http://localhost:20011/user/login/online",
            method: "POST",
            data: JSON.stringify(jsonObj),
			async: true,
    		dataType: "json",
    		contentType: "application/json;charset=UTF-8",
			beforeSend: function(XHR) {
				XHR.setRequestHeader("Access-Control-Allow-Origin","*");
				// XHR.setRequestHeader("userId", encodeURIComponent(userInfo.userId));
			},
            success: function (data) {
                
                if(data.code == 1000){
                    // 设置全局参数
					localStorage.setItem('userId', data.data.userId);
					localStorage.setItem('accessToken', data.data.accessToken);
                    window.location.href="http://localhost:30000/web/index";
                }else{
                     alert(data.message);
				}
            },
            error: function (data) {
                console.log("请求错误："+data.statusText);
            }

        });
    }	
</script>
	</body>
</html>