<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Login Page</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content=""
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="static/css/style-login.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="static/css/fontawesome-all.css">
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<!--<link href="http://maxcdn.bootstrapcdn.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">-->
	<!--<link href="http://maxcdn.bootstrapcdn.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">-->
	<!-- //web-fonts -->
</head>

<body>
	<!-- bg effect -->
	<div id="bg">
		<canvas></canvas>
		<canvas></canvas>
		<canvas></canvas>
	</div>
	<!-- //bg effect -->
	<!-- title -->
	<h1>HaHa-Show</h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form action="#" method="post" name="loginForm">
			<h2>Login Now
				<i class="fas fa-level-down-alt"></i>
			</h2>
			<div class="form-style-agile">
				<label>
					<i class="fas fa-user"></i>
					用户名
				</label>
				<input placeholder="Username" name="Name" type="text" required="">
			</div>
			<div class="form-style-agile">
				<label>
					<i class="fas fa-unlock-alt"></i>
					密码
				</label>
				<input placeholder="Password" name="Password" type="password" required="">
			</div>
			<!-- checkbox -->
			<div class="wthree-text">
				<ul>
					<li>
						<label class="anim">
							<input type="checkbox" class="checkbox">
							<span>注册账号</span>
						</label>
					</li>
					<li>
						<a href="#">忘记密码?</a>
					</li>
				</ul>
			</div>
			<!-- //checkbox -->
			<input type="submit" value="登录" onclick="validateForm()">
		</form>
	</div>
	<!-- //content -->

	<!-- copyright -->
	<div class="footer">
		<p>Copyright &copy; Yangy 2023</p>
	</div>
	<!-- //copyright -->

	<!-- Jquery -->
	<script src="static/js/jquery-3.3.1.min.js"></script>
	<!-- //Jquery -->

	<!-- effect js -->
	<script src="static/js/canva_moving_effect.js"></script>
	<!-- //effect js -->
    <script src="static/js/crypto-js.js"></script>
    <script src="static/js/api/common-api.js"></script>
</body>

<script>
	
	function validateForm() {
	    event.preventDefault();//阻止页面在提交后刷新
	    
        var name = document.forms["loginForm"]["Name"].value;
        if (name == null || name == "") {
            alert("请输入登录名");
            return false;
        }

        var pwd = document.forms["loginForm"]["Password"].value;
        if (pwd == null || pwd == "") {
            alert("请输入密码");
            return false;
        }
        
        var params = new Map();
        params.set('loginName', 'admin');
        params.set('password', '123456');
        var sign = getBackendSignature(params);
        
        params.set('sign',sign);
        var jsonObj = {};
        params.forEach(function(value, key) {
          jsonObj[key] = value;
        });
        
        $.ajax({
            url: "http://localhost:20001/user/login/online",
            method: "POST",
            data: JSON.stringify(jsonObj),
			async: true,
    		dataType: "json",
    		contentType: "application/json;charset=UTF-8",
			beforeSend: function(XHR) {
				XHR.setRequestHeader("Access-Control-Allow-Origin","*");
				// XHR.setRequestHeader("userId", encodeURIComponent(userInfo.userId));
			},
            success: function (data) {
                
                if(data.code == 1000){
                    // 设置全局参数
                    debugger;
					localStorage.setItem('userId', data.data.userId);
					localStorage.setItem('accessToken', data.data.accessToken);
                    window.location.href="http://localhost:30000/web/index";
                }else{
                     alert(data.message);
				}
            },
            error: function (data) {
                console.log("请求错误："+data.statusText);
            }

        });
    }	
</script>

</html>