<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="editor/css/style.css" />
    <link rel="stylesheet" href="editor/css/editormd.css" />
	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/logo-icon.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/logo-icon.png">
    
    <title>HaHa-Show</title>
</head>

<body>
<!-- header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-9 col-lg-8 col-xl-9">
                <div class="header__content">
                    <!-- header menu btn -->
                    <button class="header__btn" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- end header menu btn -->

                    <!-- header logo -->
                    <a href="index.html" class="header__logo">
                        <img src="icon/logo-icon.png" style="width: 60px;height: 60px;" alt="">
                    </a>
                    <!-- end header logo -->

                    <!-- header nav -->
                    <ul class="header__nav">
                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a href="index.html" class="header__nav-link"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">首页</font></font></a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuProjects"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">博客</font></font></a>

                            <!--<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuProjects">-->
                                <!--<li><a href="projects.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">专案</font></font></a></li>-->
                                <!--<li><a href="project.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">单个项目</font></font></a></li>-->
                                <!--<li><a href="add-project.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">发布项目</font></font></a></li>-->
                            <!--</ul>-->
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuJobs"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">视频</font></font></a>

                            <!--<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuJobs">-->
                                <!--<li><a href="jobs.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">工作</font></font></a></li>-->
                                <!--<li><a href="job.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">单项工作</font></font></a></li>-->
                                <!--<li><a href="add-job.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">发布工作</font></font></a></li>-->
                            <!--</ul>-->
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button"
                               id="dropdownMenuCompanies" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">关于Me</font></font></a>

                            <!--<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCompanies">-->
                                <!--<li><a href="companies.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">公司介绍</font></font></a></li>-->
                                <!--<li><a href="userDetail.html"><font style="vertical-align: inherit;"><font-->
                                        <!--style="vertical-align: inherit;">公司简介</font></font></a></li>-->
                            <!--</ul>-->
                        </li>
                        <!-- end dropdown -->
                    </ul>
                    <!-- end header nav -->

                    <!-- header search -->
                    <form action="#" class="header__search">
                        <input class="header__search-input" type="text" placeholder="搜索...">
                        <button class="header__search-button" type="button">
                            <i class="icon ion-ios-search"></i>
                        </button>
                    </form>
                    <!-- end header search -->
                </div>
            </div>

            <div class="col-5 col-md-3 col-lg-4 col-xl-3">
                <div class="header__content header__content--end">
                    <a href="messages.html" class="header__messages header__messages--active">
                        <i class="icon ion-ios-mail"></i>
                    </a>

                    <div class="header__notifications">
                        <a class="dropdown-toggle header__notifications-btn header__notifications-btn--active" href="#"
                           role="button" id="dropdownMenuNotifications" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="icon ion-ios-notifications"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right header__dropdown-menu--ntf"
                             aria-labelledby="dropdownMenuNotifications">
                            <div class="header__ntf">
                                <a href="#" class="header__ntf-img">
                                    <img src="" alt="">
                                </a>
                                <h6 class="header__ntf-title">
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marsha Baldwin</font></font></span><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">评论您的项目。
                                </font></font></h6>
                            </div>

                            <a href="#" class="header__ntf-more"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">查看更多</font></font></a>
                        </div>
                    </div>

                    <div class="header__profile">
                        <a class="dropdown-toggle header__profile-btn" href="#" role="button" id="dropdownMenuProfile"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="" alt="" id="userIcon">
                            <span><font style="vertical-align: inherit;" id="userName"></font></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right"
                            aria-labelledby="dropdownMenuProfile">
                            <li><a href="userDetail.html"><i class="icon ion-ios-settings"></i><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 个人资料</font></font></a>
                            </li>
                            <li><a href="privacy.html"><i class="icon ion-ios-lock"></i><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                留言</font></font></a></li>
                            <li><a href="#" id="logout"><i class="icon ion-ios-exit"></i><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                登出</font></font></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- main content -->
<main class="main">
    <div class="container " style="margin-bottom: 10em;" th:if="${article != null}">
        
        <div class="post" >
            <h2 class="post__title" th:value="${article.id}"><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;" th:text="${article.title}"></font></font></h2>
            
            <div class="post__head" style="margin-bottom: 30px;">
                <a href="#" class="post__head-img">
                    <img src="img/user.svg" alt=""/>
                </a>
                <div class="post__head-title">
                    <h5><a href="#"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;" th:text="${article.userName}"></font></font></a></h5>
                    <p><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;" th:text="*{#dates.format(article.createTime, 'yyyy/MM/dd HH:mm:ss')}"></font></font></p>
                </div>
                <div style="text-align: right;font-size: 16px;width: 80%;">
                    <a th:href="'edit.html?id='+${article.id}" style="color: #01a0e4;">编辑</a>
                </div>
            </div>
            
            <div class="post__description" id="editorDiv">
                <textarea style="display: none;" th:text="${article.content}"></textarea>
            </div>
            
        </div>
    </div>
</main>
<!-- end main content -->

<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__content">
                    <a href="index.html" class="footer__logo">
                        <img src="" alt="">
                    </a>

                    <span class="footer__copyright"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">©2023 </font></font><br><font
                            style="vertical-align: inherit;"><font style="vertical-align: inherit;">由</font><a
                            href="https://themeforest.net/user/dmitryvolkov/portfolio?ref=DmitryVolkov" target="_blank"><font
                            style="vertical-align: inherit;">Yangy</font></a><font
                            style="vertical-align: inherit;">创建</font></font><a
                            href="https://themeforest.net/user/dmitryvolkov/portfolio?ref=DmitryVolkov" target="_blank"><font
                            style="vertical-align: inherit;"></font></a></span>

                    <nav class="footer__nav">
                        <a href="contacts.html"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">联系人</font></font></a>
                        <a href="faq.html"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">常见问题解答</font></font></a>
                        <a href="privacy.html"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">隐私政策</font></font></a>
                    </nav>

                    <button class="footer__back" type="button">
                        <i class="icon ion-ios-arrow-round-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- JS -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/wNumb.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/main.js"></script>
<script src="layui/layui.js"></script>
<script src="js/Base64.js"></script>
<script src="js/crypto-js.js"></script>
<script src="editor/js/jquery.min.js"></script>
<script src="editor/js/editormd.js"></script>
<script src="editor/js/editormd.min.js"></script>
<script src="editor/lib/marked.min.js"></script>
<script src="editor/lib/prettify.min.js"></script>
<script src="editor/lib/raphael.min.js"></script>
<script src="editor/lib/underscore.min.js"></script>
<script src="editor/lib/sequence-diagram.min.js"></script>
<script src="editor/lib/flowchart.min.js"></script>
<script src="editor/lib/jquery.flowchart.min.js"></script>
<script src="js/api/common-api.js"></script>
<script src="js/api/user-api.js"></script>

<script>
    $ (function () {

        setAccountInfo();
        
        var editor = editormd.markdownToHTML("editorDiv", {
            htmlDecode : "style,script,iframe",
            emoji : true,
            taskList : true,
            tex : true, // 默认不解析
            flowChart : true, // 默认不解析
            sequenceDiagram : true, // 默认不解析
            codeFold : true
        });
        
    });
    
</script>

</body>
</html>